<section class="home__content">
  <div class="container">
    <div class="home__hero-wrapper">

      <!-- ICON + TEXT BLOCK -->
      <div class="home__icon-title">
        <img class="home__icon" src="/img/svg/sun.svg" alt="Sun">

        <div class="home__text">
<h1 class="home__title">
  Get <span class="home__title-italic">Body</span> in<br>
  shape, Stay healthy
</h1>


          <p class="home__description">
            Transform your physique and embrace a healthier lifestyle with our comprehensive fitness and nutrition support.
          </p>
        </div>
      </div>

      <!-- SMALL IMAGE -->
      <img
        class="home__pic"
        src="/img/f160f7810cea23bed860734e12e1a81def3d668a.jpg"
        alt=""
      >

      <!-- BIG HERO IMAGE -->
      <div class="home__hero">
        <img src="/img/71236a8cc6b04d6a87e15feef63b9cb64728b379.jpg" alt="Women exercising outdoors">
      </div>

      <!-- HASHTAGS -->
      <ul class="home__hashtags">
        <li class="home__hashtags-item">#Sport</li>
        <li class="home__hashtags-item">#Healthy</li>
        <li class="home__hashtags-item">#Workout</li>
        <li class="home__hashtags-item">#Diet</li>
      </ul>

    </div>
  </div>
</section>
